body, html {
    font-family: 'Muli';
}

.bg{
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
.logo{
    width: 100%;
    max-width: 618px;
}

/*Página principal*/
.txt{
    font-size: 2vh;
    color: #ffffff;
}
.txt2{
    color: #ffffff;
}
#cp{
    background-color:transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#cp::placeholder{
    color: #ffffff;
}
.btn-primary {
    background-color: #00bde0 !important;
    border: #00bde0 !important;
    font-size: 2.5vh !important;
    width: 100% !important;
}
.btn-primary:hover {
    background-color: #02b5d4 !important;
}
#btn{
    background-image: url("../img/search-location.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
}

@media only screen and (max-width: 576px) {
    .bg{
        background-image: url("../img/fondo2.png");
    }
}

/*Página detalles*/
.txtDet{
    color: #ffffff;
    font-size: 1.5vw;
}
.fondo{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(48, 108, 119, 0.7);
    color: #ffffff;
}

#search{
    border: none;
    background-color: transparent;
    color: #ffffff;
    text-decoration: underline;
    max-width: 10vw;
}
.lupa{
    width: 2vw;
}
#search::placeholder{
    color: #ffffff;
    text-decoration: underline;
    font-size: 0.8vw;
}
.top{
    color: #ffffff;
    font-size: 1.5vw;
}

.numero{
    font-size: 2vw;
    font-weight: lighter;
}
.grados{
    font-weight: 20px;
    font-size: 4vw;
}
.datos{
    font-size: 0.7vw;

}
.fila{
    max-height: 15vh;
}
.ciudad{
    font-size: 1.1vw;
}
.vertical{
    width: 0;
    max-height: 40vh;
    border: 1px solid #ffffff;
    opacity: 0.5;
}
.vertical2{
    width: 0;
    max-height: 18vh;
    border: 1px solid #ffffff;
    opacity: 0.5;
}
.all p{
    font-size: 1vw;
    font-weight: lighter;
}

.nombre{
    font-size: 1.3vw;
}
.bgGrado{
    font-size: 3vw;
}

.carousel{
    max-width: 25vw;
    max-height: 18.5vh;
    background-color: #306c7767;
}
.plogo{
    max-width: 100%;
}
.topc p{
    font-size: 0.8vw;
    font-weight: lighter;
    color: #ffffff;
}
